body {
  font-family: "Roboto", sans-serif;
  background-color: #eeeeee;
  margin: 0;
}
a {
  color: #007bff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
nav {
  background-color: #222831;
  overflow: hidden;
  margin-bottom: 20px;
}
nav a,
nav span {
  float: left;
  display: block;
  color: #eeeeee;
  background-color: #222831;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}
nav .title {
  background-color: #00adb5;
  float: none;
}
nav a:hover {
  background-color: #393e46;
}
.container {
  line-height: 0;
  width: 90%;
  margin: auto;
  column-count: 4;
  column-gap: 5px;
}
@media screen and (max-width: 992px) {
  .container {
    column-count: 3;
  }
}
@media screen and (max-width: 768px) {
  .container {
    column-count: 2;
  }
}
@media screen and (max-width: 576px) {
  .container {
    column-count: 1;
  }
}
.container a {
  display: none;
}
.container img {
  width: 100%;
  height: auto;
  padding-bottom: 5px;
  transition: 0.5s;
}
.container img:hover {
  transform: scale(1.05);
}
footer {
  height: 100px;
  border-top: 1px solid #d5d5d5;
  width: 90%;
  margin: 20px auto 0 auto;
  padding: 10px;
}
footer a {
  margin-right: 20px;
}
