.idea/

.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.config/
.lesshst
.local/
.ssh/
.subversion/
.viminfo
tmp/

/public_html/images/sortie/
/public_html/photos.zip
/public_html/index.html
